<h1>Catupult</h1>
<p class="lead">An application that texts you cat pics when you're feeling down.</p>

<% if current_user %>
  Signed in as <%= full_name_of(current_user) %>
  <%= link_to "Sign out", signout_path %>
<% else %>
  <%= link_to "Sign in with Jawbone", "/auth/jawbone", :class => "btn btn-primary jawbone" %>
<% end %>

<footer>
	<p>Made by <a href="http://twitter.com/irosenb">Isaac Rosenberg</a> and <a href="http://twitter.com/johnkferguson">John Kelly Ferguson</a>.</p>
</footer>