<h1>Welcome to our site!</h1>

<% if current_user %>
  Signed in as <%= full_name_of(current_user) %>
  <%= link_to "Sign out", signout_path %>
<% else %>
  <%= link_to "Sign in with Jawbone", "/auth/jawbone" %>
<% end %>
